.DS_Store
*.tsbuildinfo
.git/
.github/
.vscode/
.editorconfig
.eslintrc.js
.eslintrc.prepublish.js
.gitignore
.prettierrc.js
CLAUDE.md
CODE_OF_CONDUCT.md
node_modules/
dist/
.tmp/
tmp/
npm-debug.log*
yarn.lock
pnpm-lock.yaml
